body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: url('assets/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.invitacion {
    margin: 50px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

button {
    background: #ff4081;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}
button:hover {
    background: #e91e63;
}
